mock-api: /auth/token should support body params

My applications currently uses body params as per [Section 2.3.1 of RFC 6749](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1) for app access tokens.

```sh
curl -X POST "https://id.twitch.tv/oauth2/token" --data "grant_type=client_credentials&client_id=myclientid&client_secret=myclientsecret" --header "content-type: application/x-www-form-urlencoded"
```

This is not supported with mock-api "/auth" endpoints.

```sh
curl -X POST "http://localhost:8080/auth/token" --data "grant_type=client_credentials&client_id=myclientid&client_secret=myclientsecret" --header "content-type: application/x-www-form-urlencoded"
```

returns an empty body

It should be easy for me to migrate to the non-RFC query variant, but could this be implemented too?

Agree; we can tackle this in the next minor iteration. 